.page {
  background: #2a2c2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* min-width: 320px; */
  /* min-width: 1280px; */
  /* margin: 0 auto; */
}
