.place__website_location_link {
  color: #fff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}
.place__website_location_link:hover {
  opacity: 0.8;
}
