.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 92.5%;
  /* min-height: 52px; */
  margin: 28px 48px 0 48px;
}
@media (max-width: 768px) {
  .header {
    width: 93.8%;
    margin: 28px 24px 0 24px;
  }
}
@media (max-width: 320px) {
  .header {
    width: 90%;
    margin: 16px 5% 0 5%;
  }
}
