.footer__author {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  align-self: start;
}
/* @media (max-width: 500px) {
  .footer__author {
    font-size: 10px;
    line-height: 12px;
  }
} */
