.cover {
  width: 92.5%;
  margin: 0 3.75% 0 3.75%;
  position: relative;
}
@media (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 565px) {
  .cover {
    min-height: 200px;
  }
}
