.cover {
  width: 92.5%;
  margin: 56px 3.75% 0 3.75%;
  height: 740px;
  position: relative;
}
@media (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 320px) {
  .cover {
    height: 200px;
  }
}
