@import url(../vendor/normalize.css);
@import url(../blocks/@font-face/@font-face.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__paragraphs/place__paragraphs.css);
@import url(../blocks/place/__website/_location/place__website_location_url-heading.css);
@import url(../blocks/place/__website/_location/place__website_location_link.css);
@import url(../blocks/place/__paragraph/_number/place__paragraph_number_first.css);
@import url(../blocks/place/__paragraph/_number/place__paragraph_number_second.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__author/footer__author.css);
/* @font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.woff);
  src: url(../fonts/Inter-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Black.woff);
  src: url(../fonts/Inter-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(../fonts/Inter-Bold.woff);
  src: url(../fonts/Inter-Bold.woff2);
} */

/* .page {
  background: #2a2c2f;
  min-width: 320px;
  min-width: 1280px;
  margin: 0 auto;
} */
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 92.5%;
  min-height: 52px;
  margin: 28px 48px 0 48px;
} */

/* .header__link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.header__link:hover {
  text-decoration: underline;
  opacity: 0.8;
} */

/* @media (max-width: 768px) {
  .header {
    width: 93.8%;
    margin: 28px 24px 0 24px;
  }
} */
/* @media (max-width: 320px) { */
/* .header {
    width: 90%;
    margin: 16px 5% 0 5%;
  } */
/* .header__link {
    font-size: 18px;
    line-height: 20px;
  } */
/* .header__logo {
    width: 142px;
    height: 42px;
  } */
/* } */

/* .lead {
  width: calc(100% - 148px * 2);
  margin: 56px 148px 92px 148px;
} */
/* .lead__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  width: calc(100% - 132px * 2);
  min-height: 200px;
  margin: 0 132px;
} */
/* .lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  width: calc(100% - 172px * 2);
  margin: 32px 172px 64px 172px;
  min-height: 72px;
} */
/* .lead__image {
  width: 100%;
  margin: 0;
} */

/* .lead__caption {
  width: 12.5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
} */
/* @media (max-width: 1024px) {
  .lead {
    width: 90.6%;
    margin: 4.5% 4.5% 92px 4.5%;
  }
} */
/* @media (max-width: 768px) { */
/* .lead {
    width: 100%;
    margin: 0;
    margin-bottom: 88px;
  } */
/* .lead__title {
    margin: 0 24px;
    margin-top: 48px;
    width: 93.75%;
  } */
/* .lead__subtitle {
    margin: 32px 64px 56px 64px;
    width: 83.3%;
  } */
/* .lead__image {
    width: 100%;
  } */
/* .lead__caption {
    margin: 0;
    margin-top: 8px;
    margin-left: 24px;
  } */
/* } */
/* @media (max-width: 320px) { */
/* .lead {
    margin-bottom: 64px;
  } */
/* .lead__title {
    width: 90%;
    margin: 0 5%;
    margin-top: 48px;
    font-size: 40px;
    line-height: 44px;
    min-height: 0;
  } */
/* .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 5% 40px 5%;
    width: 90%;
  } */
/* .lead__caption {
    width: auto;
    margin-left: 16px;
  } */
/* } */

/* .intro {
  width: 54%;
  min-height: 429px;
  margin: 0 442px 92px 148px;
} */

/* .intro__title {
  width: 100%;
  margin: 0 0px 40px 0px;
  color: #fff;
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  min-height: 58px;
} */
/* .intro__text {
  width: 100%;
  margin: 0 0px 33px 0px;
  color: #fff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
} */
/* .intro__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #fff;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
} */
/* @media (max-width: 1024px) {
  .intro {
    width: 67%;
    margin: 0 28% 92px 4.6%;
  }
} */
/* @media (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin: 0 3.125% 88px 3.125%;
  }
} */
/* @media (max-width: 320px) { */
/* .intro {
    width: 90%;
    margin: 0 5% 64px 5%;
  } */
/* .intro__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
  } */
/* .intro__text {
    width: 90%;
  } */
/* .intro__list { */
/* width: 100%;
  } */
/* } */
/* .photo-grid {
  width: 92.5%;
  max-height: 942px;
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, max-content));
  grid-template-rows: repeat(3, minmax(213px, max-content));
  justify-items: stretch;
  gap: 16px;
  margin: 0 3.75% 92px 3.75%;
} */

/* .photo-grid__item {
  height: 100%;
  width: 100%;
} */
/* @media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    width: 90.5%;
    grid-template-columns: repeat(3, minmax(300px, max-content));
    grid-template-rows: repeat(4, minmax(225px, max-content));
  }
}
@media (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    width: 93.75%;
    grid-template-columns: repeat(2, minmax(300px, max-content));
    grid-template-rows: repeat(6, minmax(225px, max-content));
    margin: 0 3.125% 88px 3.125%;
  }
}
@media (max-width: 320px) {
  .photo-grid {
    gap: 12px;
    grid-template-columns: repeat(1, minmax(300px, max-content));
    grid-template-rows: repeat(12, minmax(216px, max-content));
    margin: 0 16px 64px 16px;
  }
} */

/* .places {
  width: 76.8%;
  margin: 0 11.5%;
} */

/* .place {
  width: inherit;
  display: grid;
  grid-template-areas:
    "title website"
    "image paragraphs"
    "image paragraphs";
  margin-bottom: 80px;
  column-gap: 40px;
  row-gap: 48px;
} */

/* .place__title {
  grid-area: title;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  margin: 0;
} */
/* .place__image {
  grid-area: image;
  max-width: 460px;
  max-height: 460px;
} */

/* .place__website {
  grid-area: website;
  align-self: flex-end;
} */
/* .place__website_location_url-heading {
  color: #aaaaaa;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
} */
/* .place__website_location_link {
  color: #fff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}
.place__website_location_link:hover {
  opacity: 0.8;
} */
/* .place__paragraphs {
  margin: 0;
  grid-area: paragraphs;
  min-width: 484px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
} */
/* .place__paragraph_number_first {
  margin: 0;
} */
/* .place__paragraph_number_second {
  margin: 0;
  margin-top: 26px;
} */
/* @media (max-width: 1024px) { */
/* .places {
    width: 90.5%;
    margin: 0 3.75%;
  } */
/* .place {
    column-gap: 32px;
  } */
/* .place__image {
    max-width: 440px;
    max-height: 440px;
  } */
/* } */
/* @media (max-width: 768px) { */
/* .places { */
/* width: 93.75%;
    margin: 0 3.125%;
  } */
/* .place {
    column-gap: 28px;
  } */
/* .place__title {
    font-size: 42px;
    line-height: 46px;
  } */
/* .place__paragraph_number_first {
    font-size: 16px;
    line-height: 26px;
  } */
/* .place__paragraph_number_second {
    font-size: 16px;
    line-height: 26px;
  } */
/* .place__image {
    max-width: 340px;
    max-height: 340px;
  } */
/* .place__paragraphs {
    min-width: 352px;
  } */
/* } */
/* @media (max-width: 320px) { */
/* .places {
    width: 100%;
    margin: 0;
  } */
/* .place {
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs";
    row-gap: 32px;
  } */
/* .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  } */
/* .place__paragraphs {
    min-width: 90%;
    max-width: 90%;
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px;
  } */
/* .place__image {
    max-width: 320px;
    max-height: 320px;
  } */
/* .place__website {
    margin: 0 16px;
  } */
/* } */

/* .cover {
  width: 92.5%;
  margin: 56px 3.75% 0 3.75%;
  height: 740px;
  position: relative;
} */

/* .cover__link {
  position: absolute;
  background-image: url(../images/cover-trains.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
/* .cover__link:hover::before {
  content: " ";
  opacity: 0.8;
  transition: opacity 2s linear;
}
.cover__link::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #2a2c2f;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */

/* .cover__title {
  width: 47.5%;
  position: relative;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
  margin: 0;
} */
/* .cover__subtitle {
  width: 30.5%;
  position: relative;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 32px; */
/* } */
/* @media (max-width: 1024px) { */
/* .cover {
    width: 100%;
    margin: 0;
  } */
/* .cover__title {
    width: 54.6%;
  } */
/* .cover__subtitle {
    width: 35.1%;
  }
} */
/* @media (max-width: 768px) { */
/* .cover__title {
    width: 73%;
  } */
/* .cover__subtitle {
    width: 46.9%; */
/* }
} */
/* @media (max-width: 320px) { */
/* .cover {
    height: 200px;
  } */
/* .cover__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
  } */
/* .cover__subtitle {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
  } */
/* } */

/* .footer {
  width: 92.5%;
  margin: 48px 3.75% 24px 3.75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
/* .footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 18px;
} */
/* .footer__list {
  list-style-type: none;
} */
/* .footer__link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
} */
/* .footer__link:hover {
  opacity: 0.8;
} */
.footer__author {
  margin: 0;
  padding: 0;
  color: #fff;
}
/* @media (max-width: 768px) {
  .footer {
    width: 93.75%;
    margin: 88px 3.125% 24px 3.125%;
  }
} */
/* @media (max-width: 320px) { */
/* .footer {
    width: 58.1%;
    margin: 64px 118px 24px 16px;
    flex-direction: column;
    row-gap: 48px;
  } */
/* .footer__links {
    column-gap: 0;
    row-gap: 32px;
    flex-direction: column;
  } */
/* } */
