.place__website {
  grid-area: website;
  align-self: flex-end;
  max-width: 484px;
}
@media (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}
@media (max-width: 945px) {
  .place__website {
    max-width: 405px;
  }
}
@media (max-width: 841px) {
  .place__website {
    max-width: 370px;
  }
}
@media (max-width: 340px) {
  .place__website {
    padding: 0 16px;
    width: 206px;
  }
}
