.intro__title {
  max-width: 100%;
  margin: 0 0px 40px 0px;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  min-height: 58px;
}
@media (max-width: 400px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
